.idea/
.vscode/
.git/
.hg/
dev/
.dev
upload
bitrix/
local/logs/*
public/bitrix
public/local
*.log
*.log.old
*.patch
*.zip
sitemap*.xml
license/
public/ntb/files
public/banti/files
public/regim/files
public/safety/files
public/security/files
